.content-wrapper{
  width:70%;
  margin: 5% 10% 5% 10%;
}

.text-wrapper{
  width:70%;
  position: relative;
  margin-top:-35%;

}

.text-wrapper h2{
  text-align: center;
  color:#FFFFFF;
  font-size:15px;
  font-family: 'lobster',cursive;
}

/*MEDIA QUERIES for Tablet and mobile devices*/

@media screen and (max-width:768px){
  .content-wrapper{
    width:60%;
    margin: 0px;
  }
  .text-wrapper{
    width:100%;
  }
}
